.disease_report, .report_data_top{
  .el-main{
    line-height: 60px!important;
  }
}
.login{
  .el-form-item__label{
    color: #85e26e!important;
    font-size: 18px;
  }
  .el-input__inner{
    opacity: .9;
  }
}
