.publish_top{
  margin-top: 20px;
}
.showCurrent{
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
}
.img_title{
  display: flex;
  align-items: center;
  img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}
